body {
  margin: 0;
  padding: 0;
  height: 1000px;
  background-color: rgb(170, 170, 170);
}

.cartNav {
  margin-right: 15px;
}

.productBtn {
  background-color: rgb(26, 30, 36);
  border-color: white;
}

.productBtn:hover{
  background-color: rgb(52, 59, 71);
  border-color: white;
}

.productContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
} 

.prodCol {
  border: 2px solid black;
  width: 1000px;
  align-items: flex-start;
  justify-content: center;
  display: flex;
  flex-wrap:wrap;
  gap: 10px;
}

.card-body {
  background-color: rgb(170, 170, 170);
  height: 150px
}

.card-title, .card-price {
  color: black;
  font-weight: bold;
}

.productTitle {
  color: black;
  text-align: center;
  font-size: 50px;
}

.footer {
  position: relative;
  width: 100%;
  bottom: 0;
  margin-bottom: 0;
  height: 200px;
}

.loginForm h1, .signupForm h1 {
  color: black;
}

.loginForm, .signupForm {
  gap: 10px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginForm .link {
  color: black;
}