body {
  margin: 0;
  padding: 0;
  height: 1000px;
  background-color: rgb(170, 170, 170);
}

.cartNav {
  margin-right: 15px;
}

.productBtn {
  background-color: rgb(26, 30, 36);
  border-color: white;
}

.productBtn:hover{
  background-color: rgb(52, 59, 71);
  border-color: white;
}

.productContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
} 

.prodCol {
  border: 2px solid black;
  width: 1000px;
  align-items: flex-start;
  justify-content: center;
  display: flex;
  flex-wrap:wrap;
  gap: 10px;
}

.card-body {
  background-color: rgb(170, 170, 170);
  height: 150px;
}

.card-compact {
  width: 250px;
}

.card-title, .card-price {
  color: black;
  font-weight: bold;
}

.productTitle {
  color: black;
  text-align: center;
  font-size: 50px;
}

.footer {
  position: relative;
  width: 100%;
  bottom: 0;
  margin-bottom: 0;
  height: 200px;
  font-size: 100%;
  /* background-color: rgb(26, 30, 36); */
}

.loginForm h1, .signupForm h1 {
  color: black;
}

.loginForm, .signupForm {
  gap: 10px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginForm .link {
  color: black;
}

.product-page-container{
  display: flex;
  align-items: center;
  margin: 100px;
}

.product-page-title {
  color: black;
  font-size: 40px;
}

.product-page-text {
  color: black;
}

.product-page-button {
  background-color: black;
  margin-top: 10px;
}

.product-text-container {
  margin-left: 20px;
}


#video {
  position: fixed;
  z-index: -1;
  width: 100%;
  object-fit: cover;
  background-color: rgb(26, 30, 36, .9) ;
}

.hero-content {
  margin-top: 100px;
  background-color: rgb(26, 30, 36, .4);
  color: white;
  border-radius: 25px;
}


img {
  border-radius: 75px;
  border-color:rgb(170, 170, 170);
  border-width: 5px;
  .image{
    border: none;
    justify-content: center;
  }
}



html, body { height: 100%;}

body > footer {
  position: sticky;
  top: 100vh;
}

aside{
  padding-bottom: 10px;
}