

body {
  margin: 1;
  padding: 0;
  height: 100vh;
}

.inside-body {
  margin: 0;
  padding: 0;
}

ul {
  z-index: 1;
}


/* Header */

.cartNav {
  margin-right: 15px;
}

#navbar {
  position: relative;
  z-index: auto;
}

.footer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  bottom: 0;
  top: 40px;
  margin-top: 20px;
}

/* Individual Product Page */

.product-page-container {
  display: flex;
  align-items: center;
  margin: 100px;
}

.productContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-page-title {
  font-size: 60px; 
  margin-bottom: 20px; 
}

.product-page-button {
  background-color: black;
  margin-top: 20px; 
  font-size: 24px; 
  padding: 10px 20px; 
}

.product-text-container {
  margin-left: 40px; 
  font-size: 24px; 
}


/* Products Result Page */

.productTitle {
  text-align: center;
  font-size: 50px;
  padding-bottom: 10px;
  font-weight: bolder;
}

.productBtn {
  background-color: rgb(26, 30, 36);
  border-color: white;
}

.productBtn:hover {
  background-color: rgb(52, 59, 71);
  border-color: white;
}

.productContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.productCol {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.card-body {
  height: 200px;
}

.card-compact {
  width: 350px;
}

.card-title,
.card-price {
  font-weight: 200;
  font-size: 25px;
  justify-content: center;
}

.card-price {
  margin-left: auto;
  margin-right: auto;
}

/* Login and Signup Pages */

.loginForm,
.signupForm {
  gap: 10px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Checkout Page */

.checkout-form-holder,
.payment-form-holder {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  height: fit-content;
}

.checkout-form-holder {
  width: 600px;
}

.billing-info-holder,
.payment-form {
  margin-bottom: 30px;
  margin-top: 10px;
}

.cart-card-holder {
  height: fit-content;
}

#video {
  position: relative;
  z-index: -1;
  width: 100%;
  object-fit: contain;
  background-color: rgba(26, 30, 36, 0.9);
}

.hero-content {
  margin-top: 100px;
  background-color: rgba(26, 30, 36, 0.4);
  color: white;
}

.footerimg {
  border-radius: 75px;
  border-color: rgb(170, 170, 170);
  border-width: 5px;
}

img {
  border-radius: 25px;
  border-color: rgb(170, 170, 170);
  border-width: 0.5px;
}

.productImage {
  width: 200px;
  height: 200px;
}

html, body {
  height: 100%;
}

body > footer {
  position: sticky;
  top: 100vh;
}

aside {
  padding-bottom: 10px;
}

input[type="text"] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type="text"]:focus {
  width: 100%;
}

div.navbar {
  display: flex-inline;
  padding-right: 50px;
  display: space-between;
}

ul.menu.menu--horizontal {
  padding-left: 100px;
}




